.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.perfil-container{
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 30px;
}
.perfil-img{
  height: 150px;
  width: 150px;
}
.sobre{
  padding-left: 20px;
  padding-right: 20px;
}
.caracteristicas{
  margin-top: 15px;
}
.caracteristicas .card{
  margin-left: 5px;
  margin-right: 5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
