.App {
  text-align: center;
}

a:hover{
  text-decoration: none;
}
a{
  color: green;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

h1.name{
  margin-top: 20px;
}

.menu{
  width: 100%;
  padding: 0;
}

.menu-item{
  list-style-type: none;
  padding: 10px;
  background-color: #222;
  transition: linear 0.3s;
}

.menu-item a {
  color: green;
}

.menu-item:hover {
  color: black;
  text-decoration: none;
  transition: linear 0.3s;
  background-color: #ccc;
}

h1 small {
  color: #ccc;
  font-size: 1.5rem;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#home-image{
  max-height: 100vh;
}
.title-right{
  margin-top: 50px;
}
.perfil-container{
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 30px;
}
.perfil-img{
  height: 150px;
  width: 150px;
}
.sobre{
  padding-left: 20px;
  padding-right: 20px;
}
.caracteristicas{
  margin-top: 15px;
}
.caracteristicas .card{
  margin-left: 5px;
  margin-right: 5px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
